/* ==================================================
   RESET BÁSICO
================================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* ==================================================
   CONTENEDOR
================================================== */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* ==================================================
   HEADER
================================================== */
header {
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

header h2 {
    padding: 10px 0;
    font-family: "Pacifico", cursive;
    font-size: 30px;
}

main {
    padding: 20px 0;
}

/* ==================================================
   TITULOS
================================================== */
h1 {
    font-family: "Pacifico", cursive;
    font-weight: 200;
    color: #000000;
    transition: 0.3s;
    display: flex;
    align-items: center;
    text-align: center;
}

h1::before,
h1::after {
    content: "";
    flex: 1;
    height: 3px;
    background: #000000;
    margin: 80px;
}

/* Corrección del hover */
h1:hover {
    color: #8bd450;
}

/* ==================================================
   NAVBAR
================================================== */
.navbar {
    border-bottom: 2px solid rgb(116, 116, 116);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-family: "Borel", cursive;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

.navbar:hover {
    transform: translateY(-5px);
    background-color: azure;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.imagen_principal {
    display: flex;
    justify-content: center;
}

.imagen_principal img {
    width: 60%;
    max-width: 400px;
}

.logo img {
    width: 100px;
}

.valores img {
    width: 60%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Pacifico", cursive;
    font-weight: 500;
    transition: 0.3s;
    margin-right: 20px;
}

.menu li a:hover {
    color: #8bd450;
}

/* ==================================================
   BUSCADOR
================================================== */
.search-box {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.search-box input {
    padding: 6px 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    border: #8bd450 solid;
}

.search-box button {
    padding: 5px 9px;
    border: none;
    background-color: #8bd450;
    border: #8bd450 solid;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}


.whatsapp {
    width: 45px;
    height: 35px;
    background-color: #25D366;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp i {
    color: white;
    margin-top: 10px;
    font-size: 22px;
}

/* ==================================================
   SECCIÓN INFO
================================================== */

.info {
    display: flex;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.1)), url("img/fondo-prueba.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.info:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.info img {
    width: 100%;
    max-width: 500px;
}

.info h1 {
    color: #222;
    font-size: 40px;
}

.info p {
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;

}

.info2 {
    display: flex;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.1)), url("img/fondo\ 3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.info2:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.info2 img {
    width: 100%;
    max-width: 500px;
}

.info2 h1 {
    color: #222;
    font-size: 40px;
}

.info2 p {
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
}

.bienvenida {
    max-width: 600px;
    margin: 0 auto;
}

/* ==================================================
   CARRUSEL
================================================== */
.carousel {
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
}

.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.carousel:hover .carousel-track {
    animation-play-state: paused;
}

.carousel img {
    width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* ==================================================
   SECCION BENEFICIOS
================================================== */

.beneficios {
    display: flex;
    border: 2px solid rgb(116, 116, 116);
    background-color: azure;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    font-family: "Pacifico", cursive;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.beneficios p {
    text-align: center;
    display: flex;
    gap: 20px;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
}

@media (max-width: 1024px) {

    .beneficios {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .beneficios div {
        width: 45%;
    }

    .beneficios p {
        font-size: 20px;
    }
}

/* Móvil */
@media (max-width: 768px) {

    .beneficios {
        flex-direction: column;
        align-items: center;
    }

    .beneficios div {
        width: 100%;
        max-width: 400px;
    }

    .beneficios p {
        font-size: 18px;
    }
}

/* Móvil pequeño */
@media (max-width: 480px) {

    .beneficios p {
        font-size: 16px;
    }

}

.elegir {
    display: flex;
    border: 2px solid rgb(116, 116, 116);
    background-color: azure;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: auto;
    font-family: "Pacifico", cursive;
    flex-wrap: wrap;
    justify-content: center;
}

.elegir>div {
    max-width: 300px;
}

.elegir h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.elegir p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
}

.Uno {
    margin-left: 30px;
    margin-right: 30px;
}

.Dos {
    margin-left: 30px;
    margin-right: 30px;
}

.Tres {
    margin-left: 30px;
    margin-right: 30px;
}

.Cuatro {
    margin-left: 30px;
    margin-right: 40px;
}

/* ==================================================
   Poster
================================================== */

.poster img {
    width: 100%;
    height: auto;
    align-items: center;
}

/* ==================================================
   Nuestro Compromiso
================================================== */
.compromiso {
    padding: 80px 20px;
    background: #f4f9f8;
    text-align: center;
}

.titulo-seccion {
    font-size: 2rem;
    margin-bottom: 50px;
    color: #1e4d4d;
}

.contenedor-compromiso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.titulo-seccion {
    margin-top: -25px;
}

.card-compromiso {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: -25px;
}

.card-compromiso h3 {
    font-family: "Pacifico", cursive;
    font-weight: 150;
    margin-bottom: 15px;
    margin-top: -25px;
    color: #2e8b57;
}

.card-compromiso p {
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    line-height: 1.6;

}

/* ✨ Efecto de movimiento leve */
.card-compromiso:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* ==================================================
   BOTONES GENERALES
================================================== */
button {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

/* ==================================================
  CTA
================================================== */

.cta-final {
    padding: 80px 20px;
    background: linear-gradient(135deg, #2e8b57, #3cb371);
    color: white;
    text-align: center;
}

.cta-contenido {
    max-width: 800px;
    margin: auto;
}

.cta-final h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.cta-final p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.6;
}

.cta-botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cta-botones a {
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s ease;
}

/* Botón WhatsApp */
.btn-whatsapp {
    background: #25D366;
    color: white;

}

.btn-whatsapp:hover {
    background: #1ebe5d;
    transform: translateY(-3px);
}

/* Botón Comprar */
.btn-comprar {
    background: white;
    color: #2e8b57;
    margin-top: 20px;
}

.btn-comprar:hover {
    background: #f0f0f0;
    transform: translateY(-3px);
}

/* ==================================================
   FOOTER
================================================== */
.footer {
    background: linear-gradient(135deg, #0f2f2f, #1e4d4d);
    color: #ffffff;
    padding: 40px 20px 10px 20px;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer h2,
.footer h3 {
    margin-bottom: 15px;
    color: #a8e6cf;
}

.footer p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    margin: 0;
}

.social-icons p {
    font-family: 'Segoe UI', sans-serif;
    margin-top: -20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: #ffffff;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #a8e6cf;
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    padding-top: 10px;
    font-size: 13px;
}

.final p {
    text-align: center;
}

/* ==================================================
   RESPONSIVE
================================================== */

/* Tablet */
@media (max-width: 1024px) {

    .info {
        flex-direction: column;
        text-align: center;
        padding: 20px 15px;
    }

    .info img {
        width: 100%;
    }

    .info h1 {
        font-size: 32px;
    }

    .info p {
        font-size: 20px;
    }

    .carousel img {
        width: 250px;
    }

    .info2 {
        flex-direction: column;
        text-align: center;
        padding: 20px 15px;
    }

    .info2 img {
        width: 100%;
    }

    .info2 h1 {
        font-size: 32px;
    }

    .info2 p {
        font-size: 20px;
    }

    .carousel2 img {
        width: 250px;
    }
}

/* Móvil */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 20px;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
    }

    .search-box {
        margin-top: 10px;
    }

    .info h1 {
        font-size: 26px;
    }

    .info p {
        font-size: 18px;
    }

    .carousel img {
        width: 200px;
    }
}

/* Móvil pequeño */
@media (max-width: 480px) {

    .info h1 {
        font-size: 22px;
    }

    .info p {
        font-size: 16px;
    }

    .carousel img {
        width: 160px;
    }
}

@media (max-width: 768px) {

    .poster img {
        width: 100%;
        height: auto;
    }

    .valores img {
        width: 80%;
        margin: 20px auto;
    }

}

@media (max-width: 768px) {

    .info {
        padding: 20px 15px;
    }

    .info2 {
        padding: 20px 15px;
    }

    .bienvenida {
        max-width: 100%;
    }

    .info p {
        font-size: 18px;
        text-align: left;
        /* evita problemas de justify */
    }

    .info2 p {
        font-size: 18px;
        text-align: left;
        /* evita problemas de justify */
    }
}

.map-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* proporción 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 10px;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (min-width: 1024px) {

    .info {
        background-attachment: fixed;
    }

    .info2 {
        background-attachment: fixed;
    }
}